* text=auto
assets/** linguist-detectable=false
benchmarks/** linguist-detectable=false
benchmarks/reports/**/*.json linguist-generated=true
benchmarks/reports/**/*.png linguist-generated=true
examples/** linguist-detectable=false
release/** linguist-detectable=false
tests/** linguist-detectable=false
website/** linguist-detectable=false
*.wgsl text
*.wat text
*.wasm binary
*.png binary
*.mp4 binary
